In [48]:
#!pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/07/b8/bd7ab78014a4290853250ac8a1744c5a200e569811b7e0cc9222d38fc296/googlemaps-4.2.0-py3-none-any.whl
Requirement already satisfied: requests<3.0,>=2.20.0 in c:\users\clayt\anaconda3\lib\site-packages (from googlemaps) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\clayt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\clayt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\clayt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\clayt\anaconda3\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.9.11)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.2.0

In [41]:
#!pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/53/fc/3d1b47e8e82ea12c25203929efb1b964918a77067a874b2c7631e2ec35ec/geopy-1.21.0-py2.py3-none-any.whl (104kB)
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0

In [85]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import scipy.stats as st
import numpy as np
from pandas import DataFrame 
import googlemaps
#from sklearn import datasets
from clay_config import g_key
import numpy as np
#from sklearn import datasets
import gmaps
import requests
import time
from us import states

from scipy.stats import linregress

%matplotlib notebook




#import packages
import csv

In [8]:
# Reference the file where the CSV is located
it_data= "data_scientist_US.csv"

# Import the data into a Pandas DataFrame
it_data_df = pd.read_csv(it_data)
it_data_df.head(50)

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
5,2019-02-06 05:36:06 +0000,https://www.indeed.com/viewjob?jk=14fa3772cd5f...,CIB – Fixed Income Research – Machine Learning...,Accounting/Finance,JP Morgan Chase,New York,NY 10179 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429033307,NaN,NaN,9571ec617ba209fd9a4f842973a4e9c8,NaN
6,2019-02-06 05:34:37 +0000,https://www.indeed.com/viewjob?jk=c6db96b37f8a...,"Data Scientist, Licensing Operations",Accounting/Finance,Spotify,New York,NY 10011 (Chelsea area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429042348,NaN,NaN,0ec629c03f3e82651711f2626c23cadb,NaN
7,2019-02-06 05:52:12 +0000,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,Sr. Data Scientist (Can work on Xoriant W2),NaN,Xoriant Corporation,Santa Clara,CA,Usa,Santa clara,California,...,Job Title: - Sr. Data Science Consultant Durat...,Contract,NaN,dice,usa,1549436429042523,NaN,NaN,972e897473d65f34b8e7f1c1b4c74b1c,NaN
8,2019-02-06 05:34:18 +0000,https://www.indeed.com/viewjob?jk=0fc298b9f3a8...,"Data Scientist, Aladdin Wealth Tech, Associate",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429066810,NaN,NaN,80d64b46bc7c89602f63daf06b9f1b4c,NaN
9,2019-02-06 06:03:55 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Adroit Resources,San Francisco,CA,Usa,San francisco,California,...,• 3+ years related a professional experience ...,Contract,NaN,dice,usa,1549436429884667,NaN,NaN,b772c6ef8ee7631895ab9a59b5e8b2c1,NaN
10,2019-02-06 06:19:18 +0000,https://www.indeed.com/viewjob?jk=fe663233109e...,Data Scientist,Computer/Internet,Northrop Grumman,Monterey,CA 93940,Usa,Monterey,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430054124,NaN,NaN,9cd3ed78e5cac9e516ea41173de2c25f,NaN
11,2019-02-06 06:24:28 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,"Envoy Consulting Group, Inc",Reston,VA,Usa,Reston,Virginia,...,Data Scientist EnvoyIT is looking for a Data S...,Full Time,NaN,dice,usa,1549436430079148,NaN,NaN,eda91b88eb3096ed98bc1a5f6b5568df,NaN
12,2019-02-06 06:21:12 +0000,https://www.indeed.com/viewjob?jk=27a8eb5fa40b...,ETL Developer / Data Scientist,Computer/Internet,Noblis,Reston,VA 20191,Usa,Reston,Virginia,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430119850,NaN,NaN,53224da901548e7137bbb163d456ba6a,NaN
13,2019-02-06 06:22:36 +0000,https://www.indeed.com/viewjob?jk=5d05c5d90a50...,Research Data Scientist,Computer/Internet,ARUP Laboratories,Salt Lake City,UT,Usa,Salt lake city,Utah,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430157657,NaN,NaN,010b5d671896d26eba50948c7c337f94,NaN
14,2019-02-06 06:33:36 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Perspecta,Washington,DC,Usa,Washington,Washington d.c.,...,"Every day at Perspecta, we enable hundreds of ...",Full Time,NaN,dice,usa,1549436430681980,NaN,NaN,702c5b1f43ebe2fb9d4cec10b96291e0,NaN
15,2019-02-06 06:38:53 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist :: VK (9),NaN,"Pyramid Consulting, Inc.",Mclean,VA,Usa,Mclean,Virginia,...,Immediate need for Senior Data Scientist with ...,Undefined,NaN,dice,usa,1549436430692033,NaN,NaN,db8d5a77e8107823b26d628fbcfff234,NaN
16,2019-02-06 06:39:37 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist - W2,NaN,Orpine.com,Boston,MA,Usa,Boston,Massachusetts,...,Work Authorization: Only US Citizen's & Green ...,Contract,NaN,dice,usa,1549436430855000,NaN,(678) 956-6975,82fca6adf2dd82f5c990ae3304401f31,NaN
17,2019-02-06 06:39:01 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Apeiro Technologies,Mclean,VA,Usa,Mclean,Virginia,...,"Hi, Hope you are doing great. We are having re...",Contract,NaN,dice,usa,1549436430891443,NaN,NaN,50ad7745f8bbce74e326ca32dba69b9c,NaN
18,2019-02-06 06:27:03 +0000,https://www.indeed.com/viewjob?jk=be9a799359df...,Data Scientist,Computer/Internet,Bank of America,Seattle,WA 98104 (First Hill area),Usa,Seattle,Washington,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430894403,NaN,NaN,4a8b875d1acc4f560716561d699aa022,NaN
19,2019-02-06 06:27:27 +0000,https://www.indeed.com/viewjob?jk=8564efbae623...,Data Scientist,Computer/Internet,Sallie Mae,Newark,DE,Usa,Newark,Delaware,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430910554,NaN,NaN,edcdf4dd38cca4bbccd5ba0b787d2c49,NaN
20,2019-02-06 06:31:49 +0000,https://www.indeed.com/viewjob?jk=65330635c4f7...,Sr. Data Scientist,Arts/Entertainment/Publishing,Taboola,Los Angeles,CA,Usa,Los angeles,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430931772,NaN,NaN,303c2bd509a4d2c2da619f68fe4b28f0,NaN
21,2019-02-06 06:27:06 +0000,https://www.indeed.com/viewjob?jk=5fc4d3d94f89...,Data Scientist,Computer/Internet,VideoAmp,Santa Monica,CA,Usa,Santa monica,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430944872,NaN,NaN,2956d0023b0c4617c430adcedb1e38d9,NaN
22,2019-02-06 06:28:02 +0000,https://www.indeed.com/viewjob?jk=5c0e0a406a21...,Data Scientist,Computer/Internet,Apple,Cambridge,MA,Usa,Cambridge,Massachusetts,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549440023750070,NaN,NaN,e457f78180e72dd1ddee0efc042b0496,NaN
23,2019-02-06 06:50:32 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Amtex Enterprises,Plano,TX,Usa,Plano,Texas,...,Data Scientist 2 years Qualifications and Skil...,Contract,NaN,dice,usa,1549440023854067,NaN,NaN,1dd0f4f6da6a30f2f2262c9b553c303d,NaN
24,2019-02-06 06:53:19 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist,NaN,"Sysmind, LLC",Dallas,TX,Usa,Dallas,Texas,...,Position : Senior Data Scientist Location : Da...,Undefined,NaN,dice,usa,1549440023901655,NaN,(609) 897-9670,9bde219210317a59627f4b15ea08370b,NaN
25,2019-02-06 06:51:21 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist with Sagemaker Experience | NO ...,NaN,FocuzMindz,Dallas,TX,Usa,Dallas,Texas,...,Job Title: Data Scientist with Sagemaker Exper...,Contract,NaN,dice,usa,1549440023937079,NaN,NaN,f96fa1d8dd1ba128fd30be0092ce9fc7,NaN
26,2019-02-06 07:06:23 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist / Data Engineer,NaN,"Digital Intelligence Systems, LLC",Houston,TX,Usa,Houston,Texas,...,"Incorporated in 1994, DISYS is one of the larg...",Contract,NaN,dice,usa,1549440024326343,NaN,NaN,c10862d80f4bcf1b0b72bfb7f861776f,NaN
27,2019-02-06 07:03:21 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist with Exp in Data Modelling,NaN,"Advent Global Solutions, Inc.",Bothell,WA,Usa,Bothell,Washington,...,"urgent need for a Data Scientist, Essentially,...",Contract,NaN,dice,usa,1549440024518776,NaN,NaN,625160c64fec3702a8c0c7ae97e77825,NaN
28,2019-02-06 07:06:03 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Resource Informatics Group,Houston,TX,Usa,Houston,Texas,...,We have below urgent positon in TX. Below are ...,Contract,NaN,dice,usa,1549440024540149,NaN,NaN,2ac088718bcb904dca469cde13dc15f6,NaN
29,2019-02-06 07:04:57 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist needed with solid R and Python ...,NaN,Viri Technology,Seattle,WA,Usa,Seattle,Washington,...,Viri Technology is seeking an up and coming Da...,Full Time,NaN,dice,usa,1549440024552159,NaN,(206) 582-0660,2b12d01a3cc882e2ded07b99aebc3240,NaN
30,2019-02-06 07:08:33 +0000,https://www.dice.com/jobs/detail/Level-I-Solut...,Level I Solutions Engineer - Data Scientist,NaN,Kforce Technology Staffing,Irvine,CA,Usa,Irvine,California,...,RESPONSIBILITIES: Kforce has a client seeking ...,Full Time,NaN,dice,usa,1549440024566872,NaN,877-453-6723,22f6a7f0bcb034df08d9bd7ca9cbff7a,NaN
31,2019-02-06 07:40:06 +0000,https://job-openings.monster.com/data-scientis...,Data Scientist,military,L3 Technologies,Chantilly,VA,Usa,Chantilly,Virginia,...,Data Scientist - Requisition ID ...,Undefined,NaN,monster,usa,1549440024629624,NaN,NaN,8d220fbda8e4ab36f10bba4ec8ff20ad,NaN
32,2019-02-06 07:30:24 +0000,https://www.careerbuilder.com/job/J3P7X86X5NNW...,Data Scientist,business and financial operations,Apex Systems,West Chester Township,OH,Usa,West chester,Ohio,...,Description Building large systematic reports ...,Full Time,NaN,careerbuilder,usa,1549440025093739,NaN,NaN,b6e361550638f071a4985bf5f3d440ce,NaN
33,2019-02-06 07:30:12 +0000,https://www.careerbuilder.com/job/J3M2F963CC58...,"Senior Data Scientist - Tallahassee, FL - $150...",business and financial operations,Jefferson Frank,Tallahassee,FL,Usa,Tallahassee,Florida,...,My client is a leader in the Manufacturing ver...,Full Time,NaN,careerbuilder,usa,1549440025100072,NaN,813 437 6882,d33577ea9ae09c58d77e1fab2c012ba2,NaN
34,2019-02-06 07:28:00 +0000,https://www.careerbuilder.com/job/J2Y3W15X0M6C...,Data Scientist,business and financial operations,"5 Star Global Recruitment Partners, LLC",Dallas,TX,Usa,Dallas,Texas,...,"Data Scientist Client: A Fortune 500, very lar...",Full Time,NaN,careerbuilder,usa,1549440025102978,NaN,256-651-8116,09378ddde9b997b1acbf519c2b9ddf03,NaN
35,2019-02-06 07:27:37 +0000,https://www.careerbuilder.com/job/J3R3TB6LYHFY...,Data Scientist,business and financial operations,IQVIA,Plymouth Meeting,PA,Usa,Plymouth meeting,Pennsylvania,...,Join us on our exciting journey! IQVIA™ is The...,Full Time,NaN,careerbuilder,usa,1549440025119178,NaN,NaN,eb3e1cdd65a86ef8b4cf28094f0c785b,NaN
36,2019-02-06 07:27:40 +0000,https://www.careerbuilder.com/job/J3N45J6TDR75...,Data Scientist,business and financial operations,Grant Thornton LLP,Alexandria,VA,Usa,Alexandria,Virginia,...,Grant Thornton is seeking a Senior Associate t...,Full Time,NaN,careerbuilder,usa,1549440025120561,NaN,NaN,1b148bd2e730d37c7afd2cbf0e7e7824,NaN
37,2019-02-06 07:28:18 +0000,https://www.careerbuilder.com/job/J3W69867XXKS...,Data Scientist,business and financial operations,Experis,Seattle,WA,Usa,Seattle,Washington,...,We are seeking a Data Scientist for a 6-month ...,Contract,NaN,careerbuilder,usa,1549440025137663,NaN,NaN,6354c9293fd5867c41b9f0ca305cd163,NaN
38,2019-02-06 07:31:04 +0000,https://www.careerbuilder.com/job/J3V7V35YMD61...,"Data Scientist Tampa, FL $110-130K",business and financial operations,Jefferson Frank,Tampa,FL,Usa,Tampa,Florida,...,"Data Scientist Tampa, FL $110-130K Job Descrip...",Full Time,NaN,careerbuilder,usa,1549440025192604,NaN,813 437 6899 (ext 6899),acfd50bf4d44eb476ec69b38348355be,NaN
39,2019-02-06 06:48:26 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Staffing Technologies,Boston,MA,Usa,Boston,Massachusetts,...,The Team The AIML (Artificial Intelligence and...,Full Time,NaN,dice,usa,1549440025270148,NaN,NaN,b2d0b9ecd65445fa14163066be7eabc5,NaN
40,2019-02-06 07:29:24 +0000,https://www.careerbuilder.com/job/J3P8GK6Q0NNR...,Clinical Data Scientist,business and financial operations,Aerotek,Waltham,MA,Usa,Waltham,Massachusetts,...,POSITION SUMMARY: The Contract Clinical Data S...,Full Time,NaN,careerbuilder,usa,1549440025277619,NaN,NaN,674c331993a36bb28fd4cf302ce66e9d,NaN
41,2019-02-06 08:37:53 +0000,https://www.indeed.com/viewjob?jk=39c935ea3107...,"Sr. Mgr, Data Scientist",Engineering/Architecture,Kraft Heinz Company,San Francisco,CA,Usa,San francisco,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222670481,NaN,NaN,87c7330ffd4a65d432eee4ca5955b971,NaN
42,2019-02-06 08:37:59 +0000,https://www.indeed.com/viewjob?jk=97103b53b4e3...,"Data Scientist Intern, Engineering - Software ...",Engineering/Architecture,Criteo,Palo Alto,CA 94301 (Professorville area),Usa,Palo alto,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222845801,NaN,NaN,2775ed23918410617dbc6cad9886e455,NaN
43,2019-02-06 08:49:53 +0000,https://www.indeed.com/viewjob?jk=b60b056ba8d9...,Data Scientist,Manufacturing/Mechanical,Comcast,Philadelphia,PA 19103,Usa,Philadelphia,Pennsylvania,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222880895,NaN,NaN,cbf0b6e8a77c62543a82b26fb06b34da,NaN
44,2019-02-06 08:45:40 +0000,https://www.indeed.com/viewjob?jk=d713fe30a39d...,Principal Data Scientist (REMOTE),Engineering/Architecture,"FireEye, Inc.",Reston,VA 20190,Usa,Reston,Virginia,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222940379,NaN,NaN,1f57eb4c560bbf2bbc780ec6274acaeb,NaN
45,2019-02-06 08:45:02 +0000,https://www.indeed.com/viewjob?jk=f496b79fb5c6...,Data Scientist - Risk,Engineering/Architecture,Eventbrite,San Francisco,CA 94107 (South Of Market area),Usa,San francisco,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222977056,NaN,NaN,05116b62a369b96b2fa5d48c87e9310f,NaN
46,2019-02-06 08:57:28 +0000,https://www.indeed.com/viewjob?jk=674fd8a26739...,Data Scientist I,Manufacturing/Mechanical,Bank of America,Charlotte,NC 28255 (Wilmore area),Usa,Charlotte,North carolina,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447223051900,NaN,NaN,6d5c369d0649aef334336592d5d502e0,NaN
47,2019-02-06 10:55:36 +0000,https://www.careerbuilder.com/job/J3T6L86QM292...,Level I Solutions Engineer - Data Scientist,life physical and social science,Kforce Technology,Irvine,CA,Usa,Irvine,California,...,RESPONSIBILITIES: Kforce has a client seeking ...,Full Time,NaN,careerbuilder,usa,1549454416181798,NaN,NaN,9c43f943b0210574243390fd774df9f3,NaN
48,2019-02-07 05:29:42 +0000,https://www.dice.com/jobs/detail/Jr-Data-Scien...,Jr Data Scientist,NaN,Hamilton Technical Personnel,New York,NY,Usa,New york,New york,...,This position requires corporate experience an...,Full Time,NaN,dice,usa,1549519218250814,NaN,NaN,e8c1c747edb8003aec87a7f17f21a216,NaN
49,2019-02-07 05:36:19 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist (Face to Face),NaN,USM Business Systems,New York,NY,Usa,New york,New york,...,Responsibilities: • Apply analytical r...,Undefined,NaN,dice,usa,1549519218356237,NaN,NaN,4fd5864705cfb1cf9c104fba17736207,NaN

In [86]:
#Find out what kind of information is in the data

for col in it_data_df.columns: 
    print(col)

crawl_timestamp
url
job_title
category
company_name
city
state
country
inferred_city
inferred_state
inferred_country
post_date
job_description
job_type
salary_offered
job_board
geo
cursor
contact_email
contact_phone_number
uniq_id
html_job_description
location

In [87]:
total_rows = it_data_df['crawl_timestamp'].count
print (total_rows)

<bound method Series.count of 0       2019-02-06 05:26:22 +0000
1       2019-02-06 05:33:41 +0000
2       2019-02-06 05:33:35 +0000
3       2019-02-06 05:33:42 +0000
4       2019-02-06 05:48:23 +0000
                  ...
9995    2019-09-29 00:55:15 +0000
9996    2019-10-01 00:50:33 +0000
9997    2019-09-26 00:53:10 +0000
9998    2019-09-27 00:41:31 +0000
9999    2019-09-27 00:53:10 +0000
Name: crawl_timestamp, Length: 10000, dtype: object>

In [88]:
# create a dataframe grouping by the 'Drug Regimen' column
sorted_it_df = it_data_df.groupby('job_title')
sorted_it_df.head(50)

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description,location
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN,"Woodland hills, California"
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN,"Middletown, New jersey"
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN,"New york, New york"
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN,"New york, New york"
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN,"Charlotte, North carolina"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2019-09-29 00:43:50 +0000,https://stackoverflow.com/jobs/293326,"Siri - Embedded Data Scientist, Data Organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Full Time,NaN,Stackoverflow,NaN,1569916869827785,NaN,NaN,d2285b6e99067fb246c0f674995dad7d,<h2>About this job</h2>\r\n<p><span>Job type: ...,"Pittsburgh, Pennsylvania"
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"
9997,2019-09-26 00:53:10 +0000,https://stackoverflow.com/jobs/293326,"Siri - Embedded Data Scientist, Data Organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Full Time,NaN,Stackoverflow,NaN,1569916870956579,NaN,NaN,b980054dbb6d3fe1c6a421a237d1495f,NaN,"Pittsburgh, Pennsylvania"
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"

In [89]:
# Create a dataframe for counts of data
job_title_count = pd.DataFrame(sorted_it_df['job_title'].count())
job_title_count

                                                    job_title
job_title
(2) Lead Data Scientist (Medicare) (62400BR)                2
(3) Senior Data Scientist - (Machine Learning, ...          6
(3) Senior Data Scientist - (Machine Learning, ...          1
(4) Senior Data Scientist - (Machine Learning, ...          1
(Entry Level) Data Scientist                                1
...                                                       ...
data scientist, Econometrician-  Marketing Oper...          1
data scientist, Insights & Analytics - Seattle, WA          5
data scientist, Supply Chain - Seattle, WA                  2
data scientist, Workforce Management - Ops Anal...          5
lead data scientist, Data & Measurement Science...          1

[2754 rows x 1 columns]

In [90]:
#count_chart = job_title_count.plot(kind='bar', title="Number of data points for each Job title", color="red")

# Set the x and y labels
#count_chart.set_xlabel("job title")
#count_chart.set_ylabel("Number of Data Points")
#plt.tight_layout()
# Save the figure
#plt.savefig("PandaBarChart.png")

#plt.show()

In [91]:
# Reference the file where the CSV is located
indeed_data= "indeed_job_dataset.csv"

# Import the data into a Pandas DataFrame
indeed_data_df = pd.read_csv(indeed_data)
indeed_data_df.head(50)

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
30,30,Applied Machine Learning Scientist - Digital I...,https://www.indeed.com/rc/clk?jk=25c78fd15a122...,<80000,data_scientist,"['TensorFlow', 'JavaScript', 'React', 'Data Mi...",8,Adobe,484.0,4.3,...,0,0,0,0,0,1,0,0,0,0
31,31,Machine Learning Scientist,https://www.indeed.com/rc/clk?jk=a4ad7885c2d9e...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'R', 'Pytho...",6,Intuitive Surgical,95.0,3.8,...,0,0,0,1,0,0,0,0,0,0
32,32,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=83bb741f685c3...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
33,33,Data Scientist/Sr. Scientific Programmer (Rese...,https://www.indeed.com/rc/clk?jk=5fe3136ede9ec...,<80000,data_scientist,"['Machine Learning', 'Scripting', 'R', 'Perl',...",7,University of Minnesota,930.0,4.2,...,0,0,0,1,0,0,0,0,0,1
34,34,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=db37806307dad...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
35,35,Machine Learning Intern (Summer 2019),https://www.indeed.com/rc/clk?jk=e84451fb3b44e...,<80000,data_scientist,"['Splunk', 'Data Mining', 'Machine Learning', ...",4,Splunk,30.0,4.3,...,0,0,0,0,0,1,0,0,0,0
36,36,Data Scientist (Research Director),https://www.indeed.com/rc/clk?jk=b39eca7b4aae3...,<80000,data_scientist,['Grant Writing'],1,Southern Methodist University,126.0,4.2,...,0,0,0,0,0,0,0,0,0,1
37,37,Machine Learning Scientist II,https://www.indeed.com/rc/clk?jk=b0b692b299eee...,<80000,data_scientist,"['Natural Language Processing', 'Hive', 'Spark...",8,Microsoft,5178.0,4.2,...,0,0,0,0,0,1,0,0,0,0
38,38,DATA SCIENTIST AND TEAM LEAD (Data Analytics P...,https://www.indeed.com/rc/clk?jk=0da5984107651...,<80000,data_scientist,"['Data Mining', 'Statisical Analysis', 'Qualit...",3,Duke University and Duke University Health System,191.0,4.0,...,0,0,1,0,0,0,0,1,0,0
39,39,"DATA SCIENTIST, PROSPECT RESEARCH, MGMT & ANAL...",https://www.indeed.com/rc/clk?jk=8efd80c5f5327...,<80000,data_scientist,"['Java', 'R', 'SAS', 'Python', 'SQL', 'Tableau']",6,Duke University and Duke University Health System,191.0,4.0,...,0,0,1,0,0,0,0,1,0,0
40,40,"Senior Data Scientist, Supply Chain",https://www.indeed.com/rc/clk?jk=3e8093be99001...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Microsoft SQL...",10,Coyote Logistics,165.0,3.6,...,0,0,0,0,0,0,0,0,0,1
41,41,Machine Learning,https://www.indeed.com/rc/clk?jk=33f4f5ff14420...,<80000,data_scientist,"['Big Data', 'Natural Language Processing', 'S...",5,Twitter,63.0,3.9,...,0,0,0,0,0,1,0,0,0,0
42,42,Temporary Content Developer - Machine Learning,https://www.indeed.com/rc/clk?jk=d693f99164a06...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Python']",3,iD Tech,39.0,4.5,...,0,0,0,0,0,0,0,0,0,0
43,43,Machine Learning,https://www.indeed.com/rc/clk?jk=4cfe1424f1f24...,<80000,data_scientist,"['Big Data', 'Natural Language Processing', 'S...",5,Twitter,63.0,3.9,...,0,0,0,0,0,1,0,0,0,0
44,44,Computer Vision Scientist (Machine Learning),https://www.indeed.com/rc/clk?jk=2b684de7cdc40...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Image Proc...",4,Canvas Technology,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
45,45,FamilySearch Machine Learning Annotation Speci...,https://www.indeed.com/rc/clk?jk=72521a99687d1...,<80000,data_scientist,"['Machine Learning', 'Microsoft Powerpoint', '...",3,The Church of Jesus Christ of Latter-day Saints,1324.0,4.8,...,0,0,0,1,0,0,0,0,0,1
46,46,Machine Learning Research Scientist - Optics &...,https://www.indeed.com/rc/clk?jk=779d3c6cf2ba0...,<80000,data_scientist,"['.Net', 'C#', 'Machine Learning', 'Software D...",9,Riverside Research,15.0,3.7,...,0,0,0,1,0,0,0,0,0,1
47,47,Machine Learning Researcher SAN FRANCISCOMEMBE...,https://www.indeed.com/rc/clk?jk=9bef042c0a49c...,<80000,data_scientist,"['AI', 'Machine Learning']",2,OpenAI,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
48,48,Entry-Level Data Scientist,https://www.indeed.com/rc/clk?jk=75cfae0095c2b...,80000-99999,data_scientist,"['Java', 'Data Mining', 'Machine Learning', 'D...",8,IBM,23472.0,3.9,...,0,0,0,1,1,0,0,0,0,0
49,49,Trainee as Data Scientist (January to June 2019),https://www.indeed.com/rc/clk?jk=053c823c0f398...,80000-99999,data_scientist,"['Pentaho', 'Excel']",2,Asendia Management SAS,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0

In [92]:
#Find out what kind of information is in the data

for icol in indeed_data_df.columns: 
    print(icol)

Unnamed: 0
Job_Title
Link
Queried_Salary
Job_Type
Skill
No_of_Skills
Company
No_of_Reviews
No_of_Stars
Date_Since_Posted
Description
Location
Company_Revenue
Company_Employees
Company_Industry
python
sql
machine learning
r
hadoop
tableau
sas
spark
java
Others
CA
NY
VA
TX
MA
IL
WA
MD
DC
NC
Other_states
Consulting and Business Services
Internet and Software
Banks and Financial Services
Health Care
Insurance
Other_industries

In [93]:
itotal_rows = indeed_data_df['Job_Title'].count
print (itotal_rows)

<bound method Series.count of 0                                          Data Scientist
1                                          Data Scientist
2                                          Data Scientist
3               Graduate Studies Program - Data Scientist
4                                        Data Scientist I
                              ...
5710                                 Senior Data Engineer
5711    Principal Data Engineer (Java, Spark, Storm, AWS)
5712    Executive Director- Architect: Data Engineerin...
5713          Senior Manager, Data Engineering (hands on)
5714    Principal Visual Analytics / Big Data Engineer...
Name: Job_Title, Length: 5715, dtype: object>

In [94]:

ds_indeed_df = indeed_data_df.loc[indeed_data_df['Job_Type'] == 'data_scientist']
ds_indeed_df.head()

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0

In [95]:
# create a dataframe grouping by the 'Drug Regimen' column
#ds_indeed_df = ds_indeed_df.groupby('Location')
#ds_indeed_df.head(50)

In [96]:
#both_df = pd.concat([it_data_df, ds_indeed_df], axis=0)


#both_df = it_data_df.append(ds_indeed_df,  sort=False)

#both = [it_data_df, ds_indeed_df]
#frames = [ process_file(f) for f in dataset_files ]
#result = pd.append(frames)
#both_df = pd.concat(both)
#both_df

In [97]:
#Find out what kind of information is in the data

for icol in both_df.columns: 
    print(icol)

Banks and Financial Services
CA
Company
Company_Employees
Company_Industry
Company_Revenue
Consulting and Business Services
DC
Date_Since_Posted
Description
Health Care
IL
Insurance
Internet and Software
Job_Title
Job_Type
Link
Location
MA
MD
NC
NY
No_of_Reviews
No_of_Skills
No_of_Stars
Other_industries
Other_states
Others
Queried_Salary
Skill
TX
Unnamed: 0
VA
WA
category
city
company_name
contact_email
contact_phone_number
country
crawl_timestamp
cursor
geo
hadoop
html_job_description
inferred_city
inferred_country
inferred_state
java
job_board
job_description
job_title
job_type
machine learning
post_date
python
r
salary_offered
sas
spark
sql
state
tableau
uniq_id
url

In [98]:
#df["Name"] = df["First"] + df["Last"]
location = ""
it_data_df['location'] = it_data_df["inferred_city"] + ", " + it_data_df["inferred_state"]
it_data_df.head()

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description,location
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN,"Woodland hills, California"
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN,"Middletown, New jersey"
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN,"New york, New york"
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN,"New york, New york"
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN,"Charlotte, North carolina"

In [99]:
# Create a dataframe for counts of data
location_df = it_data_df.groupby('location')
location_df.head(50)

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description,location
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN,"Woodland hills, California"
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN,"Middletown, New jersey"
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN,"New york, New york"
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN,"New york, New york"
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN,"Charlotte, North carolina"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9993,2019-09-28 00:56:24 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916869271418,NaN,NaN,2bb830621baea73276f8a653e0ab92fe,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"
9995,2019-09-29 00:55:15 +0000,https://stackoverflow.com/jobs/271829,Data Scientist,Data Scientist,Upstart,Columbus,NaN,US,Columbus,Wisconsin,...,Full Time,$100k - 135k | Equity,Stackoverflow,NaN,1569916870107016,NaN,NaN,e9f2ca58c7abcd4553a4a0be9602312e,<h2>About this job</h2>\r\n<p><span>Compensati...,"Columbus, Wisconsin"
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,"Data Scientist, (Staff or Principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...,"Santa clara, New mexico"

In [100]:
#drug_regimen_count = pd.DataFrame(drug_regimen_df['Drug Regimen'].count())
location_count = pd.DataFrame(location_df['location'].count())
location_count['count'] = location_count['location'].astype(str)
location_count

                          location count
location
Aberdeen, Maryland               9     9
Addison, Texas                   9     9
Adrian, Michigan                 1     1
Akron, Ohio                      5     5
Albany, New york                 3     3
...                            ...   ...
Woodland, California             2     2
Woodlawn, Maryland               3     3
Woonsocket, Rhode island         1     1
Worcester, Massachusetts         7     7
Yonkers, New york                3     3

[736 rows x 2 columns]

In [62]:
#location_count[['city','state']] = location_count['location'].str.split(',', expand=True)
#location_count['city'] = location_count['city'].str.strip()
#location_count['state'] = location_count['state'].str.strip()
#location_count

In [110]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

#get lat and long for the cities
gmaps_key= googlemaps.Client(key=g_key)
location_count['lat'] = None
location_count['lon'] = None
for i in range(0,len(location_count), 1):
    geocode_result = gmaps_key.geocode(location_count.iat[i,0])
    try:
        lat=geocode_result[0]['geometry']['location']['lat']
        lon=geocode_result[0]['geometry']['location']['lng']
        location_count.iat[i, location_count.columns.get_loc("lat")] = lat
        location_count.iat[i, location_count.columns.get_loc("lon")] = lon
    except:
        lat= 'NaN'
        lon= 'NaN'

location_count

                          location count      lat      lon
location
Aberdeen, Maryland               9     9  37.6778 -95.4957
Addison, Texas                   9     9  37.6778 -95.4957
Adrian, Michigan                 1     1  36.1918 -95.8256
Akron, Ohio                      5     5  36.9886 -96.0262
Albany, New york                 3     3   36.752 -95.9782
...                            ...   ...      ...      ...
Woodland, California             2     2  37.0928 -95.5847
Woodlawn, Maryland               3     3   36.752 -95.9782
Woonsocket, Rhode island         1     1  36.1918 -95.8256
Worcester, Massachusetts         7     7  39.1711 -94.5484
Yonkers, New york                3     3   36.752 -95.9782

[736 rows x 4 columns]

In [112]:
location_count = location_count.dropna()
location_count.head(50)






#get lat and long for each location, add to dataframe
#my_url= f"https://maps.googleapis.com/maps/api/autocomplete/output?"
#for row in location_count:
#df.rename(columns={"A": "a", "B": "c"})
 
#url=https://maps.googleapis.com/maps/api/place/autocomplete/json?input=saint+louis+missouri&key=g_key
#response = requests.get(url).json()
#response

                            location count      lat      lon
location
Aberdeen, Maryland                 9     9  37.6778 -95.4957
Addison, Texas                     9     9  37.6778 -95.4957
Adrian, Michigan                   1     1  36.1918 -95.8256
Akron, Ohio                        5     5  36.9886 -96.0262
Albany, New york                   3     3   36.752 -95.9782
Albany, Oregon                     2     2  37.0928 -95.5847
Albemarle, North carolina          2     2  37.0928 -95.5847
Albuquerque, New mexico            5     5  36.9886 -96.0262
Alexandria, Virginia              59    59  36.8827 -94.3173
Aliso viejo, California            3     3   36.752 -95.9782
Allentown, Pennsylvania            2     2  37.0928 -95.5847
Alpharetta, Georgia               50    50  32.7937 -97.0412
Altamonte springs, Florida         3     3   36.752 -95.9782
Ambler, Pennsylvania               1     1  36.1918 -95.8256
Ames lake, Washington              1     1  36.1918 -95.8256
Ames, Iowa                         1     1  36.1918 -95.8256
Andover, Massachusetts             3     3   36.752 -95.9782
Angeles, Texas                     5     5  36.9886 -96.0262
Ann arbor, Michigan               18    18  36.6368   -95.15
Annandale, Virginia                1     1  36.1918 -95.8256
Annapolis, Maryland               31    31  29.2855 -81.0566
Appleton, Wisconsin                1     1  36.1918 -95.8256
Arlington, Texas                   7     7  39.1711 -94.5484
Arlington, Virginia              123   123  41.4916 -90.4583
Arnold, Missouri                   2     2  37.0928 -95.5847
Ashburn, Virginia                  9     9  37.6778 -95.4957
Athens, Georgia                    1     1  36.1918 -95.8256
Athens, New york                   1     1  36.1918 -95.8256
Athens, Ohio                       5     5  36.9886 -96.0262
Atlanta, Georgia                 201   201  36.8396 -96.0141
Atlanta, Illinois                  1     1  36.1918 -95.8256
Atlantic city, New jersey          2     2  37.0928 -95.5847
Auburn hills, Michigan             3     3   36.752 -95.9782
Auburn, Michigan                   5     5  36.9886 -96.0262
Aurora, Colorado                   3     3   36.752 -95.9782
Aurora, Illinois                   1     1  36.1918 -95.8256
Aurora, New york                   1     1  36.1918 -95.8256
Austin, Texas                    142   142  36.7931  -95.592
Ava, Illinois                      1     1  36.1918 -95.8256
Avon, Connecticut                  1     1  36.1918 -95.8256
Bakersfield, California            2     2  37.0928 -95.5847
Baltimore, Maryland               40    40   36.473 -94.2454
Bar harbor, Maine                  3     3   36.752 -95.9782
Bartlesville, Oklahoma             2     2  37.0928 -95.5847
Basking ridge, New jersey          8     8  37.2261 -95.7416
Baton rouge, Louisiana             2     2  37.0928 -95.5847
Beaufort, North carolina           4     4  36.9413 -96.0606
Beaverton, Oregon                  7     7  39.1711 -94.5484
Bedford, Massachusetts             3     3   36.752 -95.9782
Bedford, New hampshire             1     1  36.1918 -95.8256

In [113]:
fig = gmaps.figure()
# Store 'Lat' and 'Lng' into  locations 
locations = location_count[["lat", "lon"]].astype(float)
counts = location_count['count'].astype(float)

heat_layer = gmaps.heatmap_layer(locations, weights=counts, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

#savefig('heat_map.png')
fig

Figure(layout=FigureLayout(height='420px'))