In [91]:
#!pip install sklearn

In [92]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import scipy.stats as st
import numpy as np
import re
import datetime
#from sklearn import datasets


from scipy.stats import linregress

%matplotlib notebook

#import packages
import csv

In [93]:
# Reference the file where the CSV is located
it_data= "data_scientist_US.csv"

# Import the data into a Pandas DataFrame
it_data_df = pd.read_csv(it_data)
it_data_df.head(50)

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,Enterprise Data Scientist I,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,"Data Scientist, Aladdin Wealth Tech, Associate...",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,Senior Data Scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
5,2019-02-06 05:36:06 +0000,https://www.indeed.com/viewjob?jk=14fa3772cd5f...,CIB – Fixed Income Research – Machine Learning...,Accounting/Finance,JP Morgan Chase,New York,NY 10179 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429033307,NaN,NaN,9571ec617ba209fd9a4f842973a4e9c8,NaN
6,2019-02-06 05:34:37 +0000,https://www.indeed.com/viewjob?jk=c6db96b37f8a...,"Data Scientist, Licensing Operations",Accounting/Finance,Spotify,New York,NY 10011 (Chelsea area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429042348,NaN,NaN,0ec629c03f3e82651711f2626c23cadb,NaN
7,2019-02-06 05:52:12 +0000,https://www.dice.com/jobs/detail/Sr.-Data-Scie...,Sr. Data Scientist (Can work on Xoriant W2),NaN,Xoriant Corporation,Santa Clara,CA,Usa,Santa clara,California,...,Job Title: - Sr. Data Science Consultant Durat...,Contract,NaN,dice,usa,1549436429042523,NaN,NaN,972e897473d65f34b8e7f1c1b4c74b1c,NaN
8,2019-02-06 05:34:18 +0000,https://www.indeed.com/viewjob?jk=0fc298b9f3a8...,"Data Scientist, Aladdin Wealth Tech, Associate",Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436429066810,NaN,NaN,80d64b46bc7c89602f63daf06b9f1b4c,NaN
9,2019-02-06 06:03:55 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Adroit Resources,San Francisco,CA,Usa,San francisco,California,...,• 3+ years related a professional experience ...,Contract,NaN,dice,usa,1549436429884667,NaN,NaN,b772c6ef8ee7631895ab9a59b5e8b2c1,NaN
10,2019-02-06 06:19:18 +0000,https://www.indeed.com/viewjob?jk=fe663233109e...,Data Scientist,Computer/Internet,Northrop Grumman,Monterey,CA 93940,Usa,Monterey,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430054124,NaN,NaN,9cd3ed78e5cac9e516ea41173de2c25f,NaN
11,2019-02-06 06:24:28 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,"Envoy Consulting Group, Inc",Reston,VA,Usa,Reston,Virginia,...,Data Scientist EnvoyIT is looking for a Data S...,Full Time,NaN,dice,usa,1549436430079148,NaN,NaN,eda91b88eb3096ed98bc1a5f6b5568df,NaN
12,2019-02-06 06:21:12 +0000,https://www.indeed.com/viewjob?jk=27a8eb5fa40b...,ETL Developer / Data Scientist,Computer/Internet,Noblis,Reston,VA 20191,Usa,Reston,Virginia,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430119850,NaN,NaN,53224da901548e7137bbb163d456ba6a,NaN
13,2019-02-06 06:22:36 +0000,https://www.indeed.com/viewjob?jk=5d05c5d90a50...,Research Data Scientist,Computer/Internet,ARUP Laboratories,Salt Lake City,UT,Usa,Salt lake city,Utah,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430157657,NaN,NaN,010b5d671896d26eba50948c7c337f94,NaN
14,2019-02-06 06:33:36 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Perspecta,Washington,DC,Usa,Washington,Washington d.c.,...,"Every day at Perspecta, we enable hundreds of ...",Full Time,NaN,dice,usa,1549436430681980,NaN,NaN,702c5b1f43ebe2fb9d4cec10b96291e0,NaN
15,2019-02-06 06:38:53 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist :: VK (9),NaN,"Pyramid Consulting, Inc.",Mclean,VA,Usa,Mclean,Virginia,...,Immediate need for Senior Data Scientist with ...,Undefined,NaN,dice,usa,1549436430692033,NaN,NaN,db8d5a77e8107823b26d628fbcfff234,NaN
16,2019-02-06 06:39:37 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist - W2,NaN,Orpine.com,Boston,MA,Usa,Boston,Massachusetts,...,Work Authorization: Only US Citizen's & Green ...,Contract,NaN,dice,usa,1549436430855000,NaN,(678) 956-6975,82fca6adf2dd82f5c990ae3304401f31,NaN
17,2019-02-06 06:39:01 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Apeiro Technologies,Mclean,VA,Usa,Mclean,Virginia,...,"Hi, Hope you are doing great. We are having re...",Contract,NaN,dice,usa,1549436430891443,NaN,NaN,50ad7745f8bbce74e326ca32dba69b9c,NaN
18,2019-02-06 06:27:03 +0000,https://www.indeed.com/viewjob?jk=be9a799359df...,Data Scientist,Computer/Internet,Bank of America,Seattle,WA 98104 (First Hill area),Usa,Seattle,Washington,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430894403,NaN,NaN,4a8b875d1acc4f560716561d699aa022,NaN
19,2019-02-06 06:27:27 +0000,https://www.indeed.com/viewjob?jk=8564efbae623...,Data Scientist,Computer/Internet,Sallie Mae,Newark,DE,Usa,Newark,Delaware,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430910554,NaN,NaN,edcdf4dd38cca4bbccd5ba0b787d2c49,NaN
20,2019-02-06 06:31:49 +0000,https://www.indeed.com/viewjob?jk=65330635c4f7...,Sr. Data Scientist,Arts/Entertainment/Publishing,Taboola,Los Angeles,CA,Usa,Los angeles,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430931772,NaN,NaN,303c2bd509a4d2c2da619f68fe4b28f0,NaN
21,2019-02-06 06:27:06 +0000,https://www.indeed.com/viewjob?jk=5fc4d3d94f89...,Data Scientist,Computer/Internet,VideoAmp,Santa Monica,CA,Usa,Santa monica,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549436430944872,NaN,NaN,2956d0023b0c4617c430adcedb1e38d9,NaN
22,2019-02-06 06:28:02 +0000,https://www.indeed.com/viewjob?jk=5c0e0a406a21...,Data Scientist,Computer/Internet,Apple,Cambridge,MA,Usa,Cambridge,Massachusetts,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549440023750070,NaN,NaN,e457f78180e72dd1ddee0efc042b0496,NaN
23,2019-02-06 06:50:32 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Amtex Enterprises,Plano,TX,Usa,Plano,Texas,...,Data Scientist 2 years Qualifications and Skil...,Contract,NaN,dice,usa,1549440023854067,NaN,NaN,1dd0f4f6da6a30f2f2262c9b553c303d,NaN
24,2019-02-06 06:53:19 +0000,https://www.dice.com/jobs/detail/Senior-Data-S...,Senior Data Scientist,NaN,"Sysmind, LLC",Dallas,TX,Usa,Dallas,Texas,...,Position : Senior Data Scientist Location : Da...,Undefined,NaN,dice,usa,1549440023901655,NaN,(609) 897-9670,9bde219210317a59627f4b15ea08370b,NaN
25,2019-02-06 06:51:21 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist with Sagemaker Experience | NO ...,NaN,FocuzMindz,Dallas,TX,Usa,Dallas,Texas,...,Job Title: Data Scientist with Sagemaker Exper...,Contract,NaN,dice,usa,1549440023937079,NaN,NaN,f96fa1d8dd1ba128fd30be0092ce9fc7,NaN
26,2019-02-06 07:06:23 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist / Data Engineer,NaN,"Digital Intelligence Systems, LLC",Houston,TX,Usa,Houston,Texas,...,"Incorporated in 1994, DISYS is one of the larg...",Contract,NaN,dice,usa,1549440024326343,NaN,NaN,c10862d80f4bcf1b0b72bfb7f861776f,NaN
27,2019-02-06 07:03:21 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist with Exp in Data Modelling,NaN,"Advent Global Solutions, Inc.",Bothell,WA,Usa,Bothell,Washington,...,"urgent need for a Data Scientist, Essentially,...",Contract,NaN,dice,usa,1549440024518776,NaN,NaN,625160c64fec3702a8c0c7ae97e77825,NaN
28,2019-02-06 07:06:03 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Resource Informatics Group,Houston,TX,Usa,Houston,Texas,...,We have below urgent positon in TX. Below are ...,Contract,NaN,dice,usa,1549440024540149,NaN,NaN,2ac088718bcb904dca469cde13dc15f6,NaN
29,2019-02-06 07:04:57 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist needed with solid R and Python ...,NaN,Viri Technology,Seattle,WA,Usa,Seattle,Washington,...,Viri Technology is seeking an up and coming Da...,Full Time,NaN,dice,usa,1549440024552159,NaN,(206) 582-0660,2b12d01a3cc882e2ded07b99aebc3240,NaN
30,2019-02-06 07:08:33 +0000,https://www.dice.com/jobs/detail/Level-I-Solut...,Level I Solutions Engineer - Data Scientist,NaN,Kforce Technology Staffing,Irvine,CA,Usa,Irvine,California,...,RESPONSIBILITIES: Kforce has a client seeking ...,Full Time,NaN,dice,usa,1549440024566872,NaN,877-453-6723,22f6a7f0bcb034df08d9bd7ca9cbff7a,NaN
31,2019-02-06 07:40:06 +0000,https://job-openings.monster.com/data-scientis...,Data Scientist,military,L3 Technologies,Chantilly,VA,Usa,Chantilly,Virginia,...,Data Scientist - Requisition ID ...,Undefined,NaN,monster,usa,1549440024629624,NaN,NaN,8d220fbda8e4ab36f10bba4ec8ff20ad,NaN
32,2019-02-06 07:30:24 +0000,https://www.careerbuilder.com/job/J3P7X86X5NNW...,Data Scientist,business and financial operations,Apex Systems,West Chester Township,OH,Usa,West chester,Ohio,...,Description Building large systematic reports ...,Full Time,NaN,careerbuilder,usa,1549440025093739,NaN,NaN,b6e361550638f071a4985bf5f3d440ce,NaN
33,2019-02-06 07:30:12 +0000,https://www.careerbuilder.com/job/J3M2F963CC58...,"Senior Data Scientist - Tallahassee, FL - $150...",business and financial operations,Jefferson Frank,Tallahassee,FL,Usa,Tallahassee,Florida,...,My client is a leader in the Manufacturing ver...,Full Time,NaN,careerbuilder,usa,1549440025100072,NaN,813 437 6882,d33577ea9ae09c58d77e1fab2c012ba2,NaN
34,2019-02-06 07:28:00 +0000,https://www.careerbuilder.com/job/J2Y3W15X0M6C...,Data Scientist,business and financial operations,"5 Star Global Recruitment Partners, LLC",Dallas,TX,Usa,Dallas,Texas,...,"Data Scientist Client: A Fortune 500, very lar...",Full Time,NaN,careerbuilder,usa,1549440025102978,NaN,256-651-8116,09378ddde9b997b1acbf519c2b9ddf03,NaN
35,2019-02-06 07:27:37 +0000,https://www.careerbuilder.com/job/J3R3TB6LYHFY...,Data Scientist,business and financial operations,IQVIA,Plymouth Meeting,PA,Usa,Plymouth meeting,Pennsylvania,...,Join us on our exciting journey! IQVIA™ is The...,Full Time,NaN,careerbuilder,usa,1549440025119178,NaN,NaN,eb3e1cdd65a86ef8b4cf28094f0c785b,NaN
36,2019-02-06 07:27:40 +0000,https://www.careerbuilder.com/job/J3N45J6TDR75...,Data Scientist,business and financial operations,Grant Thornton LLP,Alexandria,VA,Usa,Alexandria,Virginia,...,Grant Thornton is seeking a Senior Associate t...,Full Time,NaN,careerbuilder,usa,1549440025120561,NaN,NaN,1b148bd2e730d37c7afd2cbf0e7e7824,NaN
37,2019-02-06 07:28:18 +0000,https://www.careerbuilder.com/job/J3W69867XXKS...,Data Scientist,business and financial operations,Experis,Seattle,WA,Usa,Seattle,Washington,...,We are seeking a Data Scientist for a 6-month ...,Contract,NaN,careerbuilder,usa,1549440025137663,NaN,NaN,6354c9293fd5867c41b9f0ca305cd163,NaN
38,2019-02-06 07:31:04 +0000,https://www.careerbuilder.com/job/J3V7V35YMD61...,"Data Scientist Tampa, FL $110-130K",business and financial operations,Jefferson Frank,Tampa,FL,Usa,Tampa,Florida,...,"Data Scientist Tampa, FL $110-130K Job Descrip...",Full Time,NaN,careerbuilder,usa,1549440025192604,NaN,813 437 6899 (ext 6899),acfd50bf4d44eb476ec69b38348355be,NaN
39,2019-02-06 06:48:26 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist,NaN,Staffing Technologies,Boston,MA,Usa,Boston,Massachusetts,...,The Team The AIML (Artificial Intelligence and...,Full Time,NaN,dice,usa,1549440025270148,NaN,NaN,b2d0b9ecd65445fa14163066be7eabc5,NaN
40,2019-02-06 07:29:24 +0000,https://www.careerbuilder.com/job/J3P8GK6Q0NNR...,Clinical Data Scientist,business and financial operations,Aerotek,Waltham,MA,Usa,Waltham,Massachusetts,...,POSITION SUMMARY: The Contract Clinical Data S...,Full Time,NaN,careerbuilder,usa,1549440025277619,NaN,NaN,674c331993a36bb28fd4cf302ce66e9d,NaN
41,2019-02-06 08:37:53 +0000,https://www.indeed.com/viewjob?jk=39c935ea3107...,"Sr. Mgr, Data Scientist",Engineering/Architecture,Kraft Heinz Company,San Francisco,CA,Usa,San francisco,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222670481,NaN,NaN,87c7330ffd4a65d432eee4ca5955b971,NaN
42,2019-02-06 08:37:59 +0000,https://www.indeed.com/viewjob?jk=97103b53b4e3...,"Data Scientist Intern, Engineering - Software ...",Engineering/Architecture,Criteo,Palo Alto,CA 94301 (Professorville area),Usa,Palo alto,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222845801,NaN,NaN,2775ed23918410617dbc6cad9886e455,NaN
43,2019-02-06 08:49:53 +0000,https://www.indeed.com/viewjob?jk=b60b056ba8d9...,Data Scientist,Manufacturing/Mechanical,Comcast,Philadelphia,PA 19103,Usa,Philadelphia,Pennsylvania,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222880895,NaN,NaN,cbf0b6e8a77c62543a82b26fb06b34da,NaN
44,2019-02-06 08:45:40 +0000,https://www.indeed.com/viewjob?jk=d713fe30a39d...,Principal Data Scientist (REMOTE),Engineering/Architecture,"FireEye, Inc.",Reston,VA 20190,Usa,Reston,Virginia,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222940379,NaN,NaN,1f57eb4c560bbf2bbc780ec6274acaeb,NaN
45,2019-02-06 08:45:02 +0000,https://www.indeed.com/viewjob?jk=f496b79fb5c6...,Data Scientist - Risk,Engineering/Architecture,Eventbrite,San Francisco,CA 94107 (South Of Market area),Usa,San francisco,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447222977056,NaN,NaN,05116b62a369b96b2fa5d48c87e9310f,NaN
46,2019-02-06 08:57:28 +0000,https://www.indeed.com/viewjob?jk=674fd8a26739...,Data Scientist I,Manufacturing/Mechanical,Bank of America,Charlotte,NC 28255 (Wilmore area),Usa,Charlotte,North carolina,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549447223051900,NaN,NaN,6d5c369d0649aef334336592d5d502e0,NaN
47,2019-02-06 10:55:36 +0000,https://www.careerbuilder.com/job/J3T6L86QM292...,Level I Solutions Engineer - Data Scientist,life physical and social science,Kforce Technology,Irvine,CA,Usa,Irvine,California,...,RESPONSIBILITIES: Kforce has a client seeking ...,Full Time,NaN,careerbuilder,usa,1549454416181798,NaN,NaN,9c43f943b0210574243390fd774df9f3,NaN
48,2019-02-07 05:29:42 +0000,https://www.dice.com/jobs/detail/Jr-Data-Scien...,Jr Data Scientist,NaN,Hamilton Technical Personnel,New York,NY,Usa,New york,New york,...,This position requires corporate experience an...,Full Time,NaN,dice,usa,1549519218250814,NaN,NaN,e8c1c747edb8003aec87a7f17f21a216,NaN
49,2019-02-07 05:36:19 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,Data Scientist (Face to Face),NaN,USM Business Systems,New York,NY,Usa,New york,New york,...,Responsibilities: • Apply analytical r...,Undefined,NaN,dice,usa,1549519218356237,NaN,NaN,4fd5864705cfb1cf9c104fba17736207,NaN

In [94]:
#Find out what kind of information is in the data

for col in it_data_df.columns: 
    print(col)

crawl_timestamp
url
job_title
category
company_name
city
state
country
inferred_city
inferred_state
inferred_country
post_date
job_description
job_type
salary_offered
job_board
geo
cursor
contact_email
contact_phone_number
uniq_id
html_job_description

In [95]:
total_rows = it_data_df['crawl_timestamp'].count
print (total_rows)

# clean up data frame for more consistent text entries

job_title_cleanup = it_data_df

# Making all entries lower case for easier cleanup
job_title_cleanup['job_title'] = job_title_cleanup['job_title'].apply(lambda x: x.lower())

# Trying to standardize the data in the job_title column
job_title_cleanup.loc[job_title_cleanup['job_title'].str.contains('assoc'),'job_title'] = 'Associate Data Scientist'
job_title_cleanup

<bound method Series.count of 0       2019-02-06 05:26:22 +0000
1       2019-02-06 05:33:41 +0000
2       2019-02-06 05:33:35 +0000
3       2019-02-06 05:33:42 +0000
4       2019-02-06 05:48:23 +0000
                  ...
9995    2019-09-29 00:55:15 +0000
9996    2019-10-01 00:50:33 +0000
9997    2019-09-26 00:53:10 +0000
9998    2019-09-27 00:41:31 +0000
9999    2019-09-27 00:53:10 +0000
Name: crawl_timestamp, Length: 10000, dtype: object>

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,enterprise data scientist i,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,Associate Data Scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-09-29 00:55:15 +0000,https://stackoverflow.com/jobs/271829,data scientist,Data Scientist,Upstart,Columbus,NaN,US,Columbus,Wisconsin,...,Join Upstart and help build the future of cred...,Full Time,$100k - 135k | Equity,Stackoverflow,NaN,1569916870107016,NaN,NaN,e9f2ca58c7abcd4553a4a0be9602312e,<h2>About this job</h2>\r\n<p><span>Compensati...
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
9997,2019-09-26 00:53:10 +0000,https://stackoverflow.com/jobs/293326,"siri - embedded data scientist, data organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Job Summary: Would you like to play a part in ...,Full Time,NaN,Stackoverflow,NaN,1569916870956579,NaN,NaN,b980054dbb6d3fe1c6a421a237d1495f,NaN
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [96]:
# Most openings by company:
# Sorts the company_name column and creates a bar graph to 
# highlight the 10 companies with the highest number of job
# opportunities for data scientists.

by_company_name = it_data_df[['company_name']].dropna(how='any')
openings_by_company_name = by_company_name['company_name'].value_counts().rename_axis('Company').reset_index(name = 'Count')
openings_by_company_name.sort_values('Count',ascending=False)

top_10_companies = openings_by_company_name.sort_values('Count', ascending=False).head(10)

plt.bar(top_10_companies['Company'],top_10_companies['Count'])
plt.xticks(rotation = 90)
plt.show()

In [97]:
# create a dataframe grouping by the 'job_title' column
sorted_it_df = it_data_df.groupby('job_title')
sorted_it_df.head(50)

# clean up data frame for more consistent text entries

,crawl_timestamp,url,job_title,category,company_name,city,state,country,inferred_city,inferred_state,...,job_description,job_type,salary_offered,job_board,geo,cursor,contact_email,contact_phone_number,uniq_id,html_job_description
0,2019-02-06 05:26:22 +0000,https://www.indeed.com/viewjob?jk=fd83355c2b23...,enterprise data scientist i,Accounting/Finance,Farmers Insurance Group,Woodland Hills,CA,Usa,Woodland hills,California,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819114777,NaN,NaN,3b6c6acfcba6135a31c83bd7ea493b18,NaN
1,2019-02-06 05:33:41 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Luxoft USA Inc,Middletown,NJ,Usa,Middletown,New jersey,...,We have an immediate opening for a Sharp Data ...,Undefined,NaN,dice,usa,1549432819122106,NaN,NaN,741727428839ae7ada852eebef29b0fe,NaN
2,2019-02-06 05:33:35 +0000,https://www.dice.com/jobs/detail/Data-Scientis...,data scientist,NaN,Cincinnati Bell Technology Solutions,New York,NY,Usa,New york,New york,...,Candidates should have the following backgroun...,Full Time,NaN,dice,usa,1549432819236156,NaN,NaN,cdc9ef9a1de327ccdc19cc0d07dbbb37,NaN
3,2019-02-06 05:33:42 +0000,https://www.indeed.com/viewjob?jk=841edd86ead2...,Associate Data Scientist,Accounting/Finance,BlackRock,New York,NY 10055 (Midtown area),Usa,New york,New york,...,Read what people are saying about working here...,Undefined,NaN,indeed,usa,1549432819259473,NaN,NaN,1c8541cd2c2c924f9391c7d3f526f64e,NaN
4,2019-02-06 05:48:23 +0000,https://job-openings.monster.com/senior-data-s...,senior data scientist,biotech,CyberCoders,Charlotte,NC,Usa,Charlotte,North carolina,...,We are seeking an extraordinary Data Scientist...,Full Time,NaN,monster,usa,1549436429015957,NaN,NaN,445652a560a5441060857853cf267470,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2019-09-29 00:43:50 +0000,https://stackoverflow.com/jobs/293326,"siri - embedded data scientist, data organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Job Summary: Would you like to play a part in ...,Full Time,NaN,Stackoverflow,NaN,1569916869827785,NaN,NaN,d2285b6e99067fb246c0f674995dad7d,<h2>About this job</h2>\r\n<p><span>Job type: ...
9996,2019-10-01 00:50:33 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916870211396,NaN,NaN,efe05f2364ee3df943e952bc68ed95a7,<h2>About this job</h2>\r\n<p><span>Location o...
9997,2019-09-26 00:53:10 +0000,https://stackoverflow.com/jobs/293326,"siri - embedded data scientist, data organization","Data Scientist, Embedded Developer",Apple Inc.,Pittsburgh,NaN,US,Pittsburgh,Pennsylvania,...,Job Summary: Would you like to play a part in ...,Full Time,NaN,Stackoverflow,NaN,1569916870956579,NaN,NaN,b980054dbb6d3fe1c6a421a237d1495f,NaN
9998,2019-09-27 00:41:31 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871226964,NaN,NaN,4b86da9d2b24b87ec3c815d9072ad616,<h2>About this job</h2>\r\n<p><span>Location o...
9999,2019-09-27 00:53:10 +0000,https://stackoverflow.com/jobs/283895,"data scientist, (staff or principal)",Data Scientist,Realtor.com,Santa Clara,NaN,US,Santa clara,New mexico,...,"Data Scientist, (Staff or Principal) at realto...",Full Time,NaN,Stackoverflow,NaN,1569916871314055,NaN,NaN,4cbe57f790e3346d7154b68c9370b7ef,<h2>About this job</h2>\r\n<p><span>Location o...

In [98]:
# Create a dataframe for counts of data
job_title_count = pd.DataFrame(sorted_it_df['job_title'].count())

In [99]:
full_time_jobs = sorted_it_df.query('job_type' == 'Full Time')

AttributeError: 'DataFrameGroupBy' object has no attribute 'query'

In [ ]:
count_chart = job_title_count.plot(kind='bar', title="Number of data points for each Job title", color="red", size = (50,5),)

# Set the x and y labels
count_chart.set_xlabel("job title")
count_chart.set_ylabel("Number of Data Points")
#plt.tight_layout()
# Save the figure
#plt.savefig("PandaBarChart.png")

plt.show()

In [100]:
# Job openings by category:
# Uses the category column to find the job categories
# with the most opportunities for data scientists, and 
# uses this info to create a bar plot (limited
# this to the top 10, because there were too many categories
# to make the graph readable.)

by_date = it_data_df[['post_date']].dropna(how='any')

# Creating a new column for a new date format
by_date['month_year'] = pd.to_datetime(by_date['post_date'])

# Changes each date to a year/month format for simplified, easy-to-read graph
by_date['month_year'] = by_date['month_year'].apply(lambda x: x.strftime('%y/%m'))
#ordered_openings_by_date = openings_by_date.sort_values('Job_Posting_Date', ascending=True)
openings_by_date = by_date['month_year'].value_counts().rename_axis('Job_Posting_Date').reset_index(name = 'Count')
openings_by_date = openings_by_date.sort_values('Job_Posting_Date',ascending=True)

plt.plot(openings_by_date['Job_Posting_Date'], openings_by_date['Count'])

plt.xticks(rotation = 90)

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24],
 <a list of 25 Text major ticklabel objects>)

In [101]:
# Most openings by company:
# Sorts the company_name column and creates a bar graph to 
# highlight the 10 companies with the highest number of job
# opportunities for data scientists.

by_post_date = it_data_df[['post_date']].dropna(how='any')
converted_date = post_date.to_datetime()
openings_by_post_date = by_post_date['post_date'].value_counts().rename_axis('Post_Date').reset_index(name = 'Count')
openings_by_post_date.sort_values('Count',ascending=False)

jobs_by_post_date = openings_by_post_date.sort_values('Count', ascending=False).head(10)

plt.bar(jobs_by_post_date['post_date'],jobs_by_post_date['Count'])
plt.xticks(rotation = 90)
plt.show()

NameError: name 'post_date' is not defined